{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
category_news_list
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    <h1>Все новости категории {{category}} ({{ category_news_list|length }})</h1>
    <h4>{% current_time '%b %d %Y' %}</h4>
    <hr>
    {% if category_news_list %}
    <table style="margin: 0 auto; width: 80%;">
        <tr>
            <td>Заголовок</td>
            <td>Категории</td>
            <td>Тип</td>
            <td>Дата публикации</td>
            <td>Содержание</td>
        </tr>

        {% for post in category_news_list %}
        <tr>
            <td>{{ post.title_of_news|censor }}</td>
            <td>
                {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td>{{ post.get_type_display }}</td>
            <td>{{ post.date_in|date:'d M Y' }}</td>
            <td>{{ post.text|truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    {% endif %}
{% endblock content %}